.quiz{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.quiz h1{
    background-color: aliceblue;
    color: brown;
    padding: 10px 10px;
    height: 100px;
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 800px;
    height: 150px;
    border: 1px solid black;
    margin-top: 20px;
    

}
.btn p{
    text-align: center;
    font-size: 1.8rem;
    margin: 0 auto;
    margin-top: 50px;
}


