.generator{
    background-color: rgb(57, 57, 148);
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    margin-left: 130px;
    margin-top: 200px;
    color: white;
    height: 250px;
    text-align: center;
}
.generator button{
    background-color: beige;
    border-radius: 10px;
    border: none;
    color: rgb(147, 80, 80);
    padding: 20px 30px;
    margin-top: 30px;
    font-size: 1.5rem;
}